#!/usr/bin/env bash

export B2_ACCOUNT_ID="{{ b2_account_id | mandatory }}"
export B2_ACCOUNT_KEY="{{ b2_account_key | mandatory }}"
declare -a databases_to_backup=({{ databases_to_backup | mandatory }})

for i in "${databases_to_backup[@]}"
do
  sudo -H -u postgres bash -c "pg_dump $i > /backups/$i.sql" >>/dev/null 2&>/dev/null
  logger "$0 $i ended with status $?"
done

logger "$0 snapshotting /backups"
ls /backups > /var/log/pg-backups.log
{{ restic_command }} backup /backups/*.sql
logger "$0 restic backup ended with status $?"
