#!/usr/bin/env bash

export B2_ACCOUNT_ID="{{ b2_account_id | mandatory }}"
export B2_ACCOUNT_KEY="{{ b2_account_key | mandatory }}"
logger "$0 snapshotting {{ backups_dir | mandatory }}#{{ repo_name | mandatory }}"
{{restic_command}} backup {{ backups_dir }}
logger "$0 restic backup ended with status $?"
